@font-face {
  font-family: "joystix-monospace";
  src: url("fonts/joystix-monospace.otf");
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper{
  font-family: "joystix-monospace", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  color: bisque;
  width: 50%;
  padding-bottom: 90px;
}

.app-title{
  padding: 8px 0;
}

.options-header{
  display: flex;
  padding-bottom: 4px;
}

.option-buttons{
  display: flex;
  gap: 8px;
  padding-bottom: 8px;
}

.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  caret-color: transparent;
}

.row{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeBtn{
  padding: 5px 10px;
  font-family: "joystix-monospace", sans-serif;
}

.column{
  display: flex;
  background-color:aquamarine;
}